*{
    margin: 0;
    padding: 0;
}
/*header section style*/
#banner{
    background: url(../assets/banner/banner2.png);
    background-repeat: no-repeat;
    padding: 400px 0;
    background-size: cover;
}
.banner-caption{
    text-align: right;
    padding-right: 300px;
    font-family: Work Sans;
}
.banner-title{
    font-weight: 700;
    line-height: 70px;
    font-size: 60px;
    color: #151414;
}
.banner-text{
    font-weight: 400;
    line-height: 26px;
    font-size: 11px;
    color:#444343
}
.btn-primary{
    color: #FFFFFF;
    background: #FD6E0A;
    padding: 15px;
    font-size: 20px;
    margin-top: 10px;
    font-weight: 500;
    border-radius: 5px;
    border: 0;
}

/* main section styles */
section{
    margin-top: 130px;
}
/* f-content */
.f-container{
    display: flex;
    width: 50%;
    padding-left: 300px;
    padding-bottom: 100px;
}
.caption{
    text-align: left;
    margin-top: 200px;
    margin-left: 100px;
    font-family: Work Sans;
}
.f-img{
    width: 569px;
    height: 723.3px;
}
.f-title{
    font-weight: 600;
    line-height: 50px;
    font-style: normal;
    font-size: 40px;
    color: #151414;

}
.f-text{
    font-weight: 400;
    line-height: 32px;
    font-style: normal;
    font-size: 15px;
    color: #444343;

}
.f-list{
    list-style-type: none;
    width: 349px;
    height: 162px;
    color: #444343;
    line-height: 32px;
}

/*plans style*/

.my-plan{
   
}
.section h3{
    color: #151414;
}
.plans-container{
    display: flex;
    gap: 5px;
    justify-content: space-between;
    padding: 20px 250px;
}
.plans{
    color: #FFFFFF;
    float: left;
    width: 25%;
}
.plan-img{
    display: block;
    width: 80px;
    height: 80px;
    margin: auto;
}
.plans-title{
    color: #151414;
    font-weight: 700;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 20px;
    line-height: 35px;
    text-align: center;
    font-family: Work Sans;
}
.plans-des{
    color: #737272;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    text-align: center;
    font-family: Work Sans;
}

/*ads section styles */
#ads{
    padding-left: 100px;
    background: url(../assets/gradient3.png), url(../assets/watch.png), linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%);;
    background-repeat: no-repeat;
    background-position: absolute;
    width: 1000px;
    height: 300px;
    border-radius: 8px;
    margin-left: 240px
}
.ads-caption{
    text-align: left;
    padding: ;
    font-family: Work Sans;
}
.ads-title{
    font-weight: 700;
    line-height: 50px;
    font-size: 40px;
    color: #FFFFFF;
    padding-top: 50px;
}
.btn-secondary{
    color: #FD6E0A;
    background: #fffffF;
    padding: 15px;
    font-size: 20px;
    margin-top: 10px;
    font-weight: 500;
    border-radius: 5px;
    border: 0;
}

.specialize-head{
    text-align: center;
    padding: 0 30%;
}
.s-title{
    font-family: Work Sans;
    font-weight: 700;
    font-size: 35px;
    line-height: 20px;
    margin-bottom: 20px;
    color: #151414;
}
.s-text{
    font-family: Work Sans;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
}
.parent{
    display: flex;
}
.child{
    box-shadow: 10px 5px 40px black;
    margin: 2%;
    padding: 50px;
    border-radius: 0 20px 50px 0;
    border-left: 3px solid blue;
}

/*footer section styles*/
.contact{
    display: flex;
    gap: 100px;
    background: #151414;
    padding: 80px 200px;
    background-position: absolute;
}
.contact .section-title{
    text-align: left;
}
.section-title{
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 20px;
    color: #FFFFFF;
}
.section-description{
    color: #FFFFFF;
    font-size: 18px;
    margin-bottom: 30px;
}
.contact a{
    text-decoration: none;
}
.btn-third{
    text-align: center;
    color: #FD6E0A;
    background: #FFFFFF;
    padding: 0px 0;
    font-size: 15px;
    margin-top: 10px;
    font-weight: 500;
    border-radius: 5px;
    height: 40px;
    font-family: Work Sans;
    border: 0;
}
.icon{
    width: 60px;
    height: 50px;
    display: inline-block;
    color: #F15B22;
    size: 350px;
}
input{
    padding: 8px 15px;
}