*{
    margin: 0;
    padding: 0;
}
/*header section style*/
#banner{
    background: url(../assets/banner/banner2.png);
    background-repeat: no-repeat;
    padding: 400px 0;
    background-size: cover;
}
.banner-caption{
    text-align: right;
    padding-right: 300px;
    font-family: Work Sans;
}
.banner-title{
    font-weight: 700;
    line-height: 70px;
    font-size: 60px;
    color: #151414;
}
.banner-text{
    font-weight: 400;
    line-height: 26px;
    font-size: 11px;
    color:#444343
}
.btn-primary{
    color: #FFFFFF;
    background: #FD6E0A;
    padding: 15px;
    font-size: 20px;
    margin-top: 10px;
    font-weight: 500;
    border-radius: 5px;
    border: 0;
}

/* main section styles */
main{
    min-width: 1000px;
    margin: 0 auto;
}
.f-container{
    display: flex;
    padding: 5%;
    top: 532;
    bottom: 132;
    left: 192;
    right: 132;
}
.half-width-img{
    width: 50%;
}
.half-width{
    width: 50%;
    height: 400px;
    left: 762px;
    top: 370px;
    padding-top: 50px;
}
img{
    width: 469px;
    height: 550.3px;
    left: 206px;
    top: 939px;
    padding-left: 30px;
}
.f-title{
    text-align: left;
    font-family: Work Sans;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
    line-height: 47px;
    color: #151414;
}
.f-text{
    font-family: Work Sans;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    color: #444343;
}
.f-list{
    list-style-type: none;
    font-family: Work Sans;
    width: 349px;
    height: 162px;
    color: #444343;
}

section{
    margin-top: 130px;
}
.section-title{
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 50px;
}

/*plans style*/
.plans-container{
    display: flex;
    gap: 5px;
    justify-content: space-between;
    padding: 20px 250px;
}
.plans{
    color: #FFFFFF;
    float: left;
    width: 25%;
}
.plans-title{
    color: #151414;
    font-weight: 700;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 20px;
    line-height: 35px;
    text-align: center;
    font-family: Work Sans;
}
.plans-des{
    color: #737272;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    text-align: center;
    font-family: Work Sans;
}
.plan-img{
    display: block;
    width: 80px;
    height: 80px;
    margin: auto;
}
.ads{
    background: url(../assets/watch.png), url(../assets/gradient1.png);
    background-repeat: no-repeat;
    background-position: absolute;
    width: 1140px;
    height: 300px;
    left: 230px;
    border-radius: 8px;
    margin-left: 200px;
    
}
.ads-title{
    text-align: left;
    margin-left: 50px;
}
.btn-secondary{
    color: #FD6E0A;
    background-color: #FFFFFF;
    font-weight: 500;
    font-size: 12px;
    border: 0;
    padding: 10px 20px;
    border-radius: 5px;
    height: 40px;
    font-family: Work Sans;
    margin-left: 50px;
}

.specialize-head{
    text-align: center;
    padding: 0 30%;
}
.s-title{
    font-family: Work Sans;
    font-weight: 700;
    font-size: 25px;
}
.s-text{
    font-family: Work Sans;
    font-weight: 400;
    font-size: 12px;
}
.parent{
    display: flex;
}
.child{
    box-shadow: 10px 5px 40px black;
    margin: 2%;
    padding: 50px;
    border-radius: 0 20px 50px 0;
    border-left: 3px solid blue;
}

/*footer section styles*/
.contact{
    display: flex;
    gap: 100px;
    background: #151414;
    padding: 130px 200px;
    background-position: absolute;
}
.contact .section-title{
    text-align: left;
}
.section-title{
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 20px;
    color: #FFFFFF;
}
.section-description{
    color: #FFFFFF;
    font-size: 18px;
    margin-bottom: 30px;
}
.contact a{
    text-decoration: none;
}
.btn-third{
    color: #FD6E0A;
    background-color: #FFFFFF;
    font-weight: 500;
    font-size: 15px;
    border: 0;
    padding: 10px 20px;
    border-radius: 5px;
    height: 40px;
    font-family: Work Sans;
    margin: 10px 0 10px 15px;
}
.icon{
    width: 60px;
    height: 50px;
    display: inline-block;
    color: #F15B22;
    size: 150px;
}